<table class="table table-striped table-secondary table-hover table-responsive">
    <thead>
        <tr class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Logotype</th>
            <th scope="col">Number of Products</th>
            <th scope="col"><button class="btn btn-primary fs-5" (click)="open(content)">Add</button>
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
            <tr *ngFor="let supermarket of supermarketList;">
                <td>
                    {{ supermarket.id }}
                </td>
                <td>
                    {{supermarket.name }}
                </td>
                <td>
                    {{supermarket.logotype}}
                </td>
                <td>
                    {{supermarket.numOfProduct}}
                </td>
                <td>
                    <button icon="pi pi-pen-to-square" (click)="editThisSupermarket(supermarket)"></button>
                </td>
                <td>
                    <button icon="pi pi-trash"></button>
                </td>
            </tr>
    </tbody>
    <tfoot>
        <div class="pagination justify-content-center">
            <ngb-pagination
              class="custom-pagination"
              [maxSize]="2"
              [boundaryLinks]="true"
              [collectionSize]="count"
              [(page)]="page"
              [pageSize]="pageSize"
              (pageChange)="loadNewSupermarketPage()"
              aria-label="Default pagination"
            ></ngb-pagination>
          </div>
    </tfoot>
</table>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add new supermarket</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="name">Name</label>
          <div class="form-group">
            <input
              id="name"
              name="name"
              type="text"
              class="form-control"
              placeholder="Paco pepe"
              [(ngModel)]="name"
              required
            />
            <div id="namErr" class="text-danger mx-3">{{ nameErr }}</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="logotype">Logotype</label>
          <div class="input-group">
            <input
              id="logotype"
              class="form-control"
              placeholder="https://prod-mercadona.imgix.net/images/d9b74d242c05f180baf1f2af25255867.jpg"
              name="logotype"
              ngbDatepicker
              #dp="ngbDatepicker"
              [(ngModel)]="logotype"
              required
            />
          </div>
          <div id="logotypeErr" class="text-danger mx-3">
            {{ logotypeErr }}
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="saveCreatedSupermarket()"
      >
        Save
      </button>
    </div>
  </ng-template>
  <div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-lg">
      <h2 class="text-2xl font-semibold mb-4">Edit supermaket</h2>
      <div class="mb-3">
        <label>Name</label>
        <input type="text" [(ngModel)]="editingSupermarket!.name">
      </div>
      <div class="mb-3">
        <label class="block text-sm font-medium text-gray-700">Url logotype</label>
        <input type="text" [(ngModel)]="editingSupermarket!.logotype">
      </div>

      <div class="flex justify-end">
        <button (click)="closeModal()" class="mr-4 px-4 py-2 bg-gray-300 rounded-md">Cancel</button>
        <button (click)="editSupermarket()" class="px-4 py-2 bg-blue-600 text-white rounded-md">Save</button>
      </div>
    </div>
  </div>