<table class="table table-striped table-secondary table-hover table-responsive">
    <thead>
        <tr class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">UrlImage</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
            <th scope="col">Supermarket name</th>
            <th scope="col">Supermarket image</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
            <tr *ngFor="let product of productList;">
                <td>
                    {{ product.id }}
                </td>
                <td>
                    {{product.productName }}
                </td>
                <td>
                    {{product.productImage}}
                </td>
                <td>
                    {{product.productBrand}}
                </td>
                <td>
                    {{product.price}}
                </td>
                <td>
                    {{product.superMarketName}}
                </td>
                <td>
                    {{product.superMarketImage}}
                </td>
                <td>
                    {{product.category}}
                </td>
                <td>
                    <button icon="pi pi-pen-to-square"></button>
                </td>
                <td>
                    <button icon="pi pi-trash"></button>
                </td>
            </tr>
    </tbody>
    <tfoot>
        <div class="pagination justify-content-center">
            <ngb-pagination
              class="custom-pagination"
              [maxSize]="2"
              [boundaryLinks]="true"
              [collectionSize]="count"
              [(page)]="page"
              [pageSize]="pageSize"
              (pageChange)="loadNewProductPage()"
              aria-label="Default pagination"
            ></ngb-pagination>
          </div>
    </tfoot>
</table>
