<table class="table table-striped table-secondary table-hover table-responsive">
    <thead>
        <tr class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">UrlImage</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
            <th scope="col">Supermarket name</th>
            <th scope="col">Supermarket image</th>
            <th scope="col">Taxes</th>
            <th scope="col">    
                <button class="btn btn-primary fs-5" (click)="open(content)">Add</button>
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
            <tr *ngFor="let product of productList;">
                <td>
                    {{ product.id }}
                </td>
                <td>
                    {{product.productName }}
                </td>
                <td>
                    {{product.productImage}}
                </td>
                <td>
                    {{product.productBrand}}
                </td>
                <td>
                    {{product.price}}
                </td>
                <td>
                    {{product.superMarketName}}
                </td>
                <td>
                    {{product.superMarketImage}}
                </td>
                <td>
                    {{product.taxes}}
                </td>
                <td>
                    <button icon="pi pi-pen-to-square" (click)="editThisProduct(product)"></button>
                </td>
                <td>
                    <button icon="pi pi-trash"></button>
                </td>
            </tr>
    </tbody>
    <tfoot>
        <div class="pagination justify-content-center">
            <ngb-pagination
              class="custom-pagination"
              [maxSize]="2"
              [boundaryLinks]="true"
              [collectionSize]="count"
              [(page)]="page"
              [pageSize]="pageSize"
              (pageChange)="loadNewProductPage()"
              aria-label="Default pagination"
            ></ngb-pagination>
          </div>
    </tfoot>
</table>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add new product</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="name">Name</label>
          <div class="form-group">
            <input
              id="name"
              name="name"
              type="text"
              class="form-control"
              placeholder="Paco pepe"
              [(ngModel)]="name"
              required
            />
            <div id="namErr" class="text-danger mx-3">{{ namErr }}</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="image">Url image</label>
          <div class="input-group">
            <input
              id="image"
              class="form-control"
              placeholder="https://prod-mercadona.imgix.net/images/d9b74d242c05f180baf1f2af25255867.jpg"
              name="image"
              ngbDatepicker
              #dp="ngbDatepicker"
              [(ngModel)]="image"
              required
            />
          </div>
          <div id="imageErr" class="text-danger mx-3">
            {{ imageErr }}
          </div>
        </div>
        <div class="mb-3">
          <label for="brand">Brand</label>
          <div class="form-group">
            <input
              id="brand"
              name="brand"
              class="form-control"
              type="text"
              placeholder="Hacendado"
              [(ngModel)]="brand"
              required
            />
            <div id="brandErr" class="text-danger mx-3">
              {{ brandErr }}
            </div>
          </div>
        </div>
        <div class="mb-3">
            <label for="price">Price</label>
            <div class="form-group">
              <input
                id="price"
                name="price"
                class="form-control"
                type="number"
                placeholder="13.04"
                [(ngModel)]="price"
                required
              />
              <div id="priceErr" class="text-danger mx-3">
                {{ priceErr }}
              </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="priceKg">Price Kg</label>
            <div class="form-group">
              <input
                id="priceKg"
                name="priceKg"
                class="form-control"
                type="number"
                placeholder="13.04"
                [(ngModel)]="priceKg"
                required
              />
              <div id="priceKgErr" class="text-danger mx-3">
                {{ priceKgErr }}
              </div>
        </div>
        </div>
        <div class="mb-3">
          <label for="taxes">Taxes</label>
          <div class="form-group">
            <input
              id="taxes"
              name="taxes"
              class="form-control"
              placeholder="10"
              type="number"
              [(ngModel)]="taxes"
              required
            />
            <div id="taxesErr" class="text-danger mx-3">
              {{ taxesErr }}
            </div>
          </div>
        </div>
        <div class="mb-3">
            <label for="supermarket">Supermarket</label>
            <select
              class="form-select"
              aria-label="Default select example"
              (change)="capturar(supermarket.value)"
              #supermarket
            >
              <option
                [value]="supermarket.id"
                *ngFor="let supermarket of supermarketList"
                id="idSupermarket"
              >
                {{ supermarket.name }}
              </option>
            </select>
            <div id="supermarketIdErr" class="text-danger mx-3">
              {{ supermarketIdErr}}
            </div>
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="saveCreatedProduct()"
      >
        Save
      </button>
    </div>
  </ng-template>
  <div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-lg">
      <h2 class="text-2xl font-semibold mb-4">Edit product</h2>
      <div class="mb-3">
        <label>Name</label>
        <input type="text" [(ngModel)]="editingProduct!.productName">
      </div>
      <div class="mb-3">
        <label class="block text-sm font-medium text-gray-700">Image</label>
        <input type="text" [(ngModel)]="editingProduct!.productImage">
      </div>
      <div class="mb-3">
        <label class="block text-sm font-medium text-gray-700">Brand</label>
        <input type="text" [(ngModel)]="editingProduct!.productBrand">
      </div>
      <div class="mb-3">
        <label class="block text-sm font-medium text-gray-700">Price</label>
        <input type="number" [(ngModel)]="editingProduct!.price">
      </div>
      <div class="mb-3">
        <label class="block text-sm font-medium text-gray-700">Taxes</label>
        <input type="number" [(ngModel)]="editingProduct!.taxes">
      </div>
      <div class="flex justify-end">
        <button (click)="closeModal()" class="mr-4 px-4 py-2 bg-gray-300 rounded-md">Cancel</button>
        <button (click)="editProduct()" class="px-4 py-2 bg-blue-600 text-white rounded-md">Save</button>
      </div>
    </div>
  </div>
  
