  #sidebar {
    background-color: #25B8A7; /* Color teal */
    border-radius: 1rem;
    width: 240px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    padding-top: 20px;
  }
  
  .nav-link {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    transition: background-color 0.3s;
  }
  
  .nav-link.active {
    background-color: #138a74; /* Color más oscuro cuando está activo */
  }
  
  .nav-link:hover {
    background-color: #138a74; /* Color más oscuro al pasar el ratón */
  }
  
  img.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  h2, p {
    color: #ffffff;
    text-align: center;
  }
  