<nav id="sidebar" class="collapse d-lg-block sidebar bg-teal text-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 text-center">
        <div class="mb-4">
          <img src="../../../assets/logoAppFirst.png" alt="Logo de la aplicación" class="img-fluid" style="width: 250px; height: auto;">
        </div>
        <a routerLink="/supermarket" routerLinkActive="active" class="nav-link text-white">
          <h5 class="mt-1">Supermarket</h5>
        </a>
        <a routerLink="/product" routerLinkActive="active" class="nav-link text-white">
          <h5 class="mt-1">Product</h5>
        </a>
        <a routerLink="/company" routerLinkActive="active" class="nav-link text-white">
          <h5 class="mt-1">Electricity Company</h5>
        </a>
        <a routerLink="/contract" routerLinkActive="active" class="nav-link text-white">
          <h5 class="mt-1">Electricity Contract</h5>
        </a>
        <a href="" (click)="logout()" class="nav-link text-danger">
          <h5 class="mt-1">Logout</h5>
        </a>
      </div>
    </div>
  </nav>
