body {
    background-color: #fafafa;
  }
  
  .card {
    max-width: 400px;
    border: none;
    border-radius: 1rem;
  }
  
  .img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }